h1{
background-color:#964B00;
padding-top: 30px;
    opacity:0.95;
}
.header * {
    border: solid;                                                        
}
.header{
    background-color: #A52A2A;
    display: flex;
    justify-content: space-around;
}
.menu{
    background-color:#FFFFFF       ;
    display: flex;
    justify-content: space-around;
        margin-right: 30px;
            margin-left: 20px;
            
        
}
a:link{
    color:#FF0000;
}
a:visited{
    color:#FF0000 ;
}
.grid{
    background-color: #000000;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}


.follow{
    background-color:#008000 ;
    display: flex;
    justify-content: space-around;
}

.footer{
    background-color: #3434B4;
    display:flex;
    justify-content: space-around;
    position: relative;
   
    }
    

body {
    background-color: #FF0000;
}
.grid:hover img{
   opacity:0.25; 
}
.grid p{
    opacity:0.55;
}
   
      
   
   